name: PHPUnit

on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:

jobs:
  php-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: opsdash
    strategy:
      matrix:
        php-version: ['8.2', '8.3']
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
          extensions: mbstring, intl, gd
      - run: composer install
      - run: composer run test:unit
